<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClientFormKomik.Properties.Settings.ProjectKomikConnectionString"
            connectionString="Data Source=LAPTOP-8MKEQ456;Initial Catalog=ProjectKomik;User ID=sa;Password=mentepermaib20"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EndpointService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1907/" binding="basicHttpBinding"
                bindingConfiguration="EndpointService" contract="ServiceReference1.IService1"
                name="EndpointService" />
        </client>
    </system.serviceModel>
</configuration>